<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">WebAppointments</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <AuthorizeView>
            <Authorized>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <RadzenIcon Icon="finance_mode" class="rz-mr-1" />
                        Dashboard
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="appointments">
                        <RadzenIcon Icon="calendar_month" class="rz-mr-1" />
                        Appointments
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="businesses">
                        <RadzenIcon Icon="account_balance" class="rz-mr-1" />
                        Businesses
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="service-provider">
                        <RadzenIcon Icon="person_apron" class="rz-mr-1" />
                        Service Provider
                    </NavLink>
                </div>
                <div class="nav-item px-3 text-opacity-75 text-white d-flex align-items-center">
                    <NavLink class="nav-link" href="service-provider">
                        <RadzenIcon Icon="logout" class="rz-mr-1" />
                        Logout
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <RadzenIcon Icon="login" class="rz-mr-1" />
                        Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

